<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='css/bootstrap.css' />
</head>
<body class="container">
<hr />
<div class="display-1">play-with-express</div>
<hr />
{{{body}}}
</body>
</html>
